
<a href="<%=profile_page_path(comment.user.display_name)%>" title="<%= comment.user.display_name %>"><%= image_tag comment.user.image.url(:medium), class: "tiny-user-image" %></a><span><%= comment.comment_text %></span>
