<div class="profile-header dashboard" id="dashboard-header-for-mobile">

	<div class="centered-content">

		<ul>
			<li class="profile-header-option active" id="profile_option_posts" data-option-type="posts">
				<a>Top</a>
			</li>

			<li class="profile-header-option" id="profile_option_new" data-option-type="new">
				<a>New</a>
			</li>

<!-- 			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="communities">
				<a>Communities</a>
			</li>

			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
				<a>Following</a>
			</li> -->

		</ul>

	</div>

</div>


<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<div class="column-content" id="column_content_posts">

				<% @posts.each do |post| %>

					<%= render :partial => 'posts/list', :locals => {:post => post} %>

				<%end%>

			</div>

			<div class="column-content" id="column_content_new" style="display:none;">
				 
				 <% Post.all.each do |post| %>

					<%= render :partial => 'posts/list', :locals => {:post => post} %>

				<%end%>

			</div>

			<div class="column-content" id="column_content_subscribers" style="display:none;">
				 subs
			</div>


			<div class="column-content" id="column_content_communities" style="display:none;">

				communities

			</div>

		</div>

<!-- 		<div class="side-content-column">

			<h4>10th Nation</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div> -->

	</div>

</div>