
<%= render :partial => 'layouts/profile_cover', :locals => {:profile => @user} %>

<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<div class="column-content" id="column_content_posts">
	
				<% @user.posts.reverse.each do |post| %>

					<%= render :partial => 'posts/list', :locals => {:post => post} %>

				<%end%>

			</div>

			<div class="column-content default-off" id="column_content_comments">

				<% @user.comments.all.each do |comment| %>

					<%= render :partial => 'comments/list', :locals => {:comment => comment} %>

				<%end%>

			</div>


<!-- 			<div class="column-content default-off" id="column_content_subscribers">

				<%# @user.followers.each do |user| %>

					<%# render :partial => 'pages/users/list', :locals => {:follower => user} %>

				<%#end%>

			</div> -->

		</div>

<!-- 		<div class="side-content-column">

			<h4>Filter</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div> -->

	</div>

</div>