
<%= render 'headers/simple_header' %>

<div class="content black">

	<div class="content-box black">

		<h1 style="text-align: center;">What are you interested in?</h1>

		<form name="community_setup" action="/community_setup/" method="POST">

			<div class="community-select-container">

				
				<% Community.all.each do |community|%>
					
					<div class="community-select-item">

						<span class="community-select-span"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-ok"></span><%= community.name %></span>
						<input class="community-select-input" type="checkbox" name="<%= community.name %>"></input>

					</div>

				<%end%>

			</div>
			
			<div class="cta-container">
				
				<%= link_to "Finish!", root_path, class: "get-started-cta green-text-background" %>
					
				<input type="submit">

			</div>
    
		</form>

	</div>

</div>


