
<%= render 'headers/simple_header' %>

<div class="content black">

	<div class="content-box black">

		<h1>What are you interested in?</h1>
		
		<div class="cta-container">
			
			<%= link_to "Finish!", root_path, class: "get-started-cta green-text-background" %>
			
		</div>

	</div>

</div>


