<%= render 'headers/simple_header' %>

<div class="content black">

	<div class="content-box black">

		<h1>Welcome home, <%= current_user.display_name %>.</h1>

		<p>10th Nation is a curated ... of the most important online content, news, media, sports, poltics - all tailored just for you</p>

		<p>10th Nation is the front page of the Black Internet - funded, built, owned, operated, and controlled by black people.  This is ours.</p>

		<p>Tell us about all the stuff you love and we'll help you get setup</p>

		<%= link_to "Get Started!", setup_path %>

	</div>


</div>

