<%# render :partial => 'communities/cover', :locals => {:community => Community.find(1)} %>

<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<%= render :partial => 'posts/list', :locals => {:post => @post} %>

			<div class="comment-container">

				<%= render 'modals/new_comment_modal' %>

				<h5>Top Comments</h5>

				<% @post.comments.reverse.each do |comment| %>

					<div class="comment-content">
					
						<%= render :partial => 'comments/list', :locals => {:comment => comment} %>

						<div class="comment-content">
					
							<%= render :partial => 'comments/list', :locals => {:comment => comment} %>

						</div>

					</div>

				<% end %>

			</div>

		</div>

		<div class="side-content-column">

			<h4>10th Nation</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div>

	</div>

</div>
