<div class="modal-container full" id="comment-form">

	<span class="dismiss-modal">+</span>

	<div class="modal-content blank">
		<h4>re: "<%= @post.title %>"</h4>

    	<%= render 'comments/form' %>

	</div>

</div>

