<div class="modal-container full" id="post-form">

	<span class="dismiss-modal">+</span>

	<div class="modal-content blank">

		<div class="select-post-type">

			<h5>Select Post Type</h5>

			<p class="post-type green-text-background" id="link"><span class="glyphicon glyphicon-link"></span>Link</p>

			<p class="post-type red-text-background" id="photo"><span class="glyphicon glyphicon-camera"></span>Photo</p>

			<p class="post-type blue-text-background" id="discussion"><span class="glyphicon glyphicon-comment"></span>Discussion</p>

		</div>
    	
    	<div class="post-modal-form" style="display:none;">
    		<%= render 'posts/form' %>
    	</div>

  </div>

</div>

