<div class="modal-container full" id="post-form">

	<span class="dismiss-modal">+</span>

	<div class="modal-content blank">

		<div class="select-post-type">

			<h5>Select Post Type</h5>

			<p class="post-type" id="link"><span class="glyphicon glyphicon-link"></span>Link</p>

			<p class="post-type" id="photo"><span class="glyphicon glyphicon-camera"></span>Photo</p>

			<p class="post-type" id="discussion"><span class="glyphicon glyphicon-comment"></span>Discussion Topic</p>

		</div>
    <%# render 'posts/form' %>

  </div>

</div>

