<div class="modal-container full" id="upload-track-form">

	<span class="dismiss-modal">+</span>

	<div class="modal-content full">

    	<h4>Upload a New Track</h4>

    	<div class="modal-form">


		</div>
  </div>


</div>

