// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-container{
	
    margin-top: 30px;
    padding: 0px 10px;

	h5{
		font-size: 20px;
    	font-weight: 600;
    	text-shadow: 0px 1px 2px #000;
    	color: #eee;
    	margin-bottom: 25px;
    	padding: 10px 0px;
        border-bottom: 2px solid #eee;
	}
}

.submit-comment{

    outline: none;

    background-color: #00C452;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00C452), to(#008F3C));
    background-image: -webkit-linear-gradient(top, #00C452, #008F3C);
    background-image: -moz-linear-gradient(top, #00C452, #008F3C);
    background-image: -ms-linear-gradient(top, #00C452, #008F3C);
    background-image: -o-linear-gradient(top, #00C452, #008F3C);
    background-image: linear-gradient(top, #00C452, #008F3C);

    font-weight: 500;
    font-size: 28px;
    text-shadow: 0px 1px 2px #111;
    padding:10px;
    margin: 10px 0px;
    border: 1px solid #222;
    border-radius: 2px;

    display: block;
    margin: 20px auto;
    width: 150px;


}

.comment-text-field{
	width: 100%;
    max-width: 500px;
    resize: vertical;
    background: #222;
    height: 100px;
    border: 2px solid #fff;
    padding: 5px;
    max-height: 300px;
    font-size: 16px;
}

.comment-content{
    
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border:1px solid #111;
    box-shadow: 0px 2px 2px #222;
    background: #222;
    margin-bottom: 20px;
    position: relative;


    a{
        display: inline-block;
    }

    span.comment-text{
        display: block;
        padding-top: 10px;
        border: 2px solid #fff;
        background: #333;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 3px;
        box-shadow: inset 0px 0px 3px #000;
        text-shadow: 0px 1px 1px #000;
    }
}

.comment-content.empty{
    text-align:center;
    background: none;
    border: none;
}

.comment-cta{
    top: 0px;
    position: absolute;
    right: 0px;

    background-color: #A81300;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
    background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
    background-image: -moz-linear-gradient(top, #F21D00, #A81300);
    background-image: -ms-linear-gradient(top, #F21D00, #A81300);
    background-image: -o-linear-gradient(top, #F21D00, #A81300);
    background-image: linear-gradient(top, #F21D00, #A81300);

    font-weight: 500;
    text-shadow: 0px 1px 1px #111;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    box-shadow: 0px 2px 3px #1c1c1c;

    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    line-height: 24px;
}

a.comment-cta:hover{
    cursor: pointer;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -ms-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(top, #fff, #fff);
    
    text-shadow: none;

    color: #F21D00;
}

.comment-cta-mobile{
    display: none;
    bottom: 0px;
    position: fixed;
    width:100%;
    left: 0px;
    text-align: center;
    z-index: 9999;

    background-color: #A81300;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
    background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
    background-image: -moz-linear-gradient(top, #F21D00, #A81300);
    background-image: -ms-linear-gradient(top, #F21D00, #A81300);
    background-image: -o-linear-gradient(top, #F21D00, #A81300);
    background-image: linear-gradient(top, #F21D00, #A81300);
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 2px 1px #111;
    padding: 10px;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    box-shadow: 0px 2px 3px #1c1c1c;
}

a.comment-cta-mobile:hover{
    cursor: pointer;
}

a.comment-reply-cta{
    top: 0px;
    position: absolute;
    right: 0px;
    background-color: #F90C98;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F90C98), to(#D60B83));
    background-image: -webkit-linear-gradient(top, #F90C98, #D60B83);
    background-image: -moz-linear-gradient(top, #F90C98, #D60B83);
    background-image: -ms-linear-gradient(top, #F90C98, #D60B83);
    background-image: -o-linear-gradient(top, #F90C98, #D60B83);
    background-image: linear-gradient(top, #F90C98, #D60B83);
    font-weight: 500;
    font-size: 14px;
    text-shadow: 0px 1px 1px #111;
    padding: 10px;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    box-shadow: 0px 2px 3px #1c1c1c;
}

a.comment-reply-cta:hover{
    cursor: pointer;
}

div.comment-actions{
    display: block;
    padding-top: 10px;

    span.comment-up-vote{

        background-color: #17ED3B;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#17ED3B), to(#12BA2E));
        background-image: -webkit-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: -moz-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: -ms-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: -o-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: linear-gradient(top, #17ED3B, #12BA2E);
    
    }

    span.comment-down-vote{
        
        background-color: #A81300;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
        background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
        background-image: -moz-linear-gradient(top, #F21D00, #A81300);
        background-image: -ms-linear-gradient(top, #F21D00, #A81300);
        background-image: -o-linear-gradient(top, #F21D00, #A81300);
        background-image: linear-gradient(top, #F21D00, #A81300);

    }

    .comment-up-vote{

    }

    .comment-down-vote{

    }
}