.footer-container{

    bottom:0px;
    background: #000;
    width:100%;

    ul{
        display: block;
        max-width: 1100px;
        padding: 30px 0px;

        li{


            a{

                
            }
        }

    }
}