// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

	background-image: asset-url("seamless_paper_texture.png");

}

.content-box{

	

	h2{
		font-size: 48px;
		line-height: 50px;
    	font-weight: 500;
    	text-shadow: 0px 3px 0px #000;
	}

	h3{
		font-size: 36px;
    	font-weight: 400;
    	line-height: 50px;
    	text-shadow: 0px 2px 0px #000;
	}
}

.context-cta{
	text-align: right;
	padding: 25px 50px;
	position: fixed;
    right: 0px;
    line-height: 50px;

	a{
		padding: 10px 30px;
    	border-radius: 30px;
    	font-size: 24px;

		color: #fff;
	    text-shadow: 0px 1px 2px #222;
	    background-color: #3333ff;

	    background-image: -webkit-gradient(linear, left top, left bottom, from(#7777FF), to(#3333ff));
	    background-image: -webkit-linear-gradient(top, #7777FF, #3333ff);
	    background-image: -moz-linear-gradient(top, #7777FF, #3333ff);
	    background-image: -ms-linear-gradient(top, #7777FF, #3333ff);
	    background-image: -o-linear-gradient(top, #7777FF, #3333ff);
	    background-image: linear-gradient(top, #7777FF, #3333ff);
	    border: 1px solid rgba(0,0,0,0.1);
	    box-shadow: inset 0px 1px 3px 0px #fff;
	}

	a:hover{
		cursor: pointer;
	}
}


.content-frame{
	width: auto;
    box-shadow: 0px 1px 3px #000;
}

.content-frame.stacked{
	
}

.content-frame.form{
	border: 2px solid #0F4DA8;
}

.content-frame.stacked:hover{
	
}

.content-panel{
	width: auto;
    background: #111;
    box-shadow: inset 0px 2px 5px #333;
    border: 1px solid #111;

    text-shadow: 0px 2px 0px #000;

    span.track-name{
    	padding:10px;
    	display: inline-block;

    }

    span.track-price{
    	color: #59EA3A;
    	font-weight: 600;
    	right:0px;
    	padding: 10px;
    	display: inline-block;
    	float: right;
    }

    h2{

		font-size: 60px;
		font-weight: 400;
		line-height: 60px;
		text-shadow: 0px 3px 0px #000;
		margin: 0;

	}

    h3{

		font-size: 36px;
		font-weight: 400;
		line-height: 50px;
		text-shadow: 0px 3px 0px #000;
		margin: 0;

	}

	h4{

		font-size: 20px;
		font-weight: 400;
		line-height: 50px;
		margin: 0;

	}

	h5{
		width: auto;
    	padding: 10px;
    	font-size: 20px;
    	font-weight: 400;
    	margin: 0;
	}

	h6{
		font-size: 15px;
    	font-style: italic;
    	font-weight: 400;
	}

    p{
    	padding:10px 0px;
    	font-size: 18px;
    }
}

.content-panel.list{

	background: #222;
    box-shadow: none;
    padding: 10px;
	
}

.content-panel.list:hover{
	
	

}

.home-profile-header{
	width:100%;
	padding: 10px 0px;
	display: inline-table;
	height:100px;

}


.home-profile-image{
	display: table-cell;
	width: 100px;
	padding: 0px 10px;

	img{
		width:125px;
		height: 125px;
		border-radius: 80px;
		border:2px solid #fff;
		box-shadow: 0px 4px 1px #000;
	}
}


.home-profile-text{
	display: table-cell;
	vertical-align: top;

	h2.name{
		margin: 0px;
		color: #fff;
	}



}

.home-profile-citizenship{
	display: table-cell;
	vertical-align: top;
	text-align: right;
	padding: 10px;

}

.time-period{

    border-bottom: 2px solid #000;
	
	ul{

		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    display: inline-table;
	    width: 100%;


		li{

			display: table-cell;
	    	text-align: center;
	    	width:196px;

	    	a{

	    		display: block;
	    		padding: 10px 0px;
	    		box-shadow: inset 0px 1px 1px #333;
	    		font-weight: 700;
    			letter-spacing: 1.1px;

	    	}

	    	a.active{

	    		background: #000;
    			color: #0ff;
    			box-shadow: none;

	    	}

	    	a.active:hover{

	    		background: #000;
    			
    			box-shadow: none;

	    	}

	    	a.middle{

	    		border-left: 2px solid #000;
    			border-right: 2px solid #000;

	    	}

	    	a:hover{
	    		cursor: pointer;
    			box-shadow: none;
    			background: #0e0e0e;
	    	}

		}

	}
}

.tabular-data{

	background: #111;
	border-top: 3px solid #000;
	
	ul{

		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    display: inline-table;
	    width: 100%;


		li{

			display: table-cell;
	    	text-align: center;
	    	width:196px;

	    	a{

	    		display: block;
	    		padding: 10px 0px;
	    		box-shadow: inset 0px 1px 1px #666;

	    		span.tabular-data-header{
	    			font-weight: 700;
    				letter-spacing: 1.1px;
	    		}

	    	}

	    	a.active{

	    		box-shadow: none;
	    		color: #0ff;
	    		border: 2px solid #0ff;
	    		background: #090909;
	    		padding: 8px 0px;

	    	}

	    	a:hover{
	    		cursor: pointer;
	    		box-shadow: none;
	    		color: #0ff;
	    		background: #090909;
	    	}


	    	a.middle{

	    		border-left: 3px solid #000;
    			border-right: 3px solid #000;

	    	}

	    	a.middle.active{

	    		border: 2px solid #0ff;

	    	}

	    	a.middle:hover{


	    	}

		}

	}
}

.metrics-summary{
	
	box-shadow: inset 0px 1px 1px #333;


}

.main-content-column{
	
	min-width: 600px;
    padding-right: 50px;
    display: table-cell;
    vertical-align: top;

    h2{
    	color: #FFA100;
    	margin-bottom: 20px;
  		letter-spacing: 1px;
    }

    h3{
    	font-size: 24px;
	    font-weight: 400;
	    text-shadow: 0px 2px 0px #000;
	    text-align: center;
	    color: #FFA100;
	    line-height: 50px;
	    letter-spacing: 1px;
	    background: #111;
	    box-shadow: inset 0px 2px 5px #333;
	    border: 1px solid #000;
	    border-bottom: none;
    }

    h4{

    }
	
}

.side-content-column{
	min-width: 440px;
	display: table-cell;
    vertical-align: top;
    
    h4{
    	font-size: 24px;
	    font-weight: 400;
	    text-shadow: 0px 2px 0px #000;
	    text-align: center;
	    color: #FFA100;
	    line-height: 50px;
	    letter-spacing: 1px;
	    background: #111;
	    box-shadow: inset 0px 2px 5px #333;
	    border: 1px solid #000;
	    border-bottom: none;
    }

    h5{
    	font-size: 20px;
    	font-weight: 400;
    	margin-bottom: 10px;
    	text-shadow: 0px 2px 0px #000;
    	letter-spacing: 1px;
    }

}


.home-profile-about{
	display:block;
}

.home-profile-about{
	display:block;
	padding: 0px 10px;

	p {
		padding: 5px 0px 15px 0px;
	}
}

span.citizen-badge{
	background: rgba(200,0,0,.9);
    color: #fff;
    padding: 25px 10px;
    line-height: 70px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 1px 2px #333;
}

@media only screen and (max-width: 1100px) {
	
	body{


		.main-content-column{
			display: block;
			margin: 0 auto;
			width: auto;
			padding: 0px;
			max-width: 600px;
			min-width:0px;
			margin-bottom:30px;
		}

		.side-content-column{
			display: block;
			margin: 0 auto;
			
			width: auto;
			padding: 0px;
			max-width: 600px;
		}

	}

}

@media only screen and (max-width: 800px) {
	
	body{

		.content-box{
			padding: 30px 10px;
		}


		.main-content-column{
			display: block;
			margin: 0 auto;
			width: auto;
			padding: 0px;
			max-width: 600px;
			min-width:0px;
		}

		.side-content-column{
			display: none;
			
		}


		.profile-cover{

			height: 150px;

			.profile-info{

				padding: 5px 15px;

				img.profile-user-image{

			    	width: 75px;
		    		height: 75px;

					-webkit-transform: translateY(0%);
			    	transform: translateY(0%);

		    	}

		    	ul{
		    		li{
		    			h2.name{
							font-size: 36px;
						}

						h3{
							font-size: 18px;
						}
		    		}

		    		li.for-mobile{
						display: inline-block;
						height: 100%;
    					
    					a.user-cta{
    						line-height: 20px;
    						margin: 20px 0px;
    						padding: 10px;
    						display: block;


    						text-align: center;
						    font-size: 16px;
						    font-weight: 500;
						    text-shadow: 0px 1px 1px #333;
						    border: 1px solid #090909;
						    border-radius: 3px;
						    background-color: #A81300;
						    background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
						    background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
						    background-image: -moz-linear-gradient(top, #F21D00, #A81300);
						    background-image: -ms-linear-gradient(top, #F21D00, #A81300);
						    background-image: -o-linear-gradient(top, #F21D00, #A81300);
						    background-image: linear-gradient(top, #F21D00, #A81300);
    					}

    					a.user-cta:hover{
    						cursor: pointer;
    					}


    					a.user-cta.following{
							color: #FF413A;
					    	border: 2px solid #00B80B;
					    	text-shadow: none;
					    	font-weight: 500;

							background-color: #82FF8F;

					        background-image: -webkit-gradient(linear, left top, left bottom, from(#82FF8F), to(#82FF8F));
					        background-image: -webkit-linear-gradient(top, #82FF8F, #82FF8F);
					        background-image: -moz-linear-gradient(top, #82FF8F, #82FF8F);
					        background-image: -ms-linear-gradient(top, #82FF8F, #82FF8F);
					        background-image: -o-linear-gradient(top, #82FF8F, #82FF8F);
					        background-image: linear-gradient(top, #82FF8F, #82FF8F);

						}

					}
		    	}
			}
		}


		.profile-header{

			text-align: center;

			.centered-content{
				margin-left: 0px;
				
			}

			.user-cta{
				display: none;
			}

		}

	}

}

@media only screen and (max-device-width: 600px) {
	
	body{

		.content-box{
			padding: 0px;
		}

	}

}

