// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-frame{

	
    margin-bottom: 20px;
    position: relative;
    padding-left: 70px;

    .post-content{
    	background: #111;
    	border: 1px solid #111;
    	box-shadow: 0px 1px 3px #444;
    }

	.post-panel{
		display:table-cell;
		vertical-align: top;
		box-shadow: inset 0px 1px 1px #444;

		span.post-title{
    		font-size: 30px;
    		font-weight: 700;
    		letter-spacing: 1px;
    		padding: 10px 0px;
    		display: block;
    		text-align: left;
    		text-shadow: 0px 2px 2px #000;

    		a{
    			color: #fff;
    		}
		}


		span.post-title.commentable{
			
			padding-right: 50px;
			
		}
		
		span.submitter{
			
		}

		span.post-time{
			
		}

		span.divider{
			margin: 0px 3px;
			font-weight: 800;
		}

		span.post-body{
			
			margin: 10px 0px;
			letter-spacing: 0.5px;

			border-radius: 3px;
			border: 2px solid #fff;
			background: #333;
			padding: 10px 20px;
			display: block;
			font-size: 16px;
			box-shadow: inset 0px 0px 3px #000;
		}

	}

	.post-panel.image{
		
	}

	.post-panel.quote{
		vertical-align: middle;
	}

	.post-panel.message{
		width: 100%;
		padding: 5px 15px;
		text-shadow: 0px 1px 1px #000;
		position: relative;
		display: block;

    	p{
    		padding-top: 5px;
    		font-size: 16px;
    		text-shadow: 0px 1px 1px #000;
    		line-height: 30px;
    	}
	}

	.mobile-actions{
		display: none;
		float:right;

		span{
	        border-radius: 50px;
	        color: #fff;
	        text-shadow: 0px 1px 3px #222;
	        vertical-align: middle;
    	}

    	span.up-vote{
	        font-size: 24px;
	        background-color: #17ED3B;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#17ED3B), to(#12BA2E));
	        background-image: -webkit-linear-gradient(top, #17ED3B, #12BA2E);
	        background-image: -moz-linear-gradient(top, #17ED3B, #12BA2E);
	        background-image: -ms-linear-gradient(top, #17ED3B, #12BA2E);
	        background-image: -o-linear-gradient(top, #17ED3B, #12BA2E);
	        background-image: linear-gradient(top, #17ED3B, #12BA2E);
    
    	}

    	span.down-vote{
	        font-size: 24px;
	        border-radius: 100px;
	        background-color: #A81300;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
	        background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
	        background-image: -moz-linear-gradient(top, #F21D00, #A81300);
	        background-image: -ms-linear-gradient(top, #F21D00, #A81300);
	        background-image: -o-linear-gradient(top, #F21D00, #A81300);
	        background-image: linear-gradient(top, #F21D00, #A81300);

    	}

    	span.up-vote.active{
        
	        color: #12BA2E;

	        text-shadow:none;

	        box-shadow: none;

	        font-size: 28px;

	        background-color: #fff;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	        background-image: -webkit-linear-gradient(top, #fff, #fff);
	        background-image: -moz-linear-gradient(top, #fff, #fff);
	        background-image: -ms-linear-gradient(top, #fff, #fff);
	        background-image: -o-linear-gradient(top, #fff, #fff);
	        background-image: linear-gradient(top, #fff, #fff);
    
    	}

    	span.down-vote.active{
	        
	        color: #F21D00;

        	text-shadow:none;

	        box-shadow: none;

	        font-size: 28px;

	        background-color: #fff;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	        background-image: -webkit-linear-gradient(top, #fff, #fff);
	        background-image: -moz-linear-gradient(top, #fff, #fff);
	        background-image: -ms-linear-gradient(top, #fff, #fff);
	        background-image: -o-linear-gradient(top, #fff, #fff);
	        background-image: linear-gradient(top, #fff, #fff);

    	}

	}
}

span.vote-count.mobile{
	font-size: 18px;
	line-height: 24px;
	vertical-align: middle;
}

.post-frame:hover{
	
}


.up-vote:hover{
	cursor: pointer;
}

.down-vote:hover{
	cursor: pointer;
}


.small-post-image{
    height: 121px;
    width: 121px;
}

span.post-community, span.post-community-mobile{
	a.community-detail{
		color: #FFA100;
	}
}


.profile-cover.cover{
	height: 150px;
	padding-top: 30px;

	.profile-info{
		padding: 5px 15px;

		img.squared.cover{
			height:75px;
			width:75px;
		}

	}
}

div.upvote{
	
	position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 70px;


    .vote{

    	text-align: center;

    	span{
    		
    		border-radius: 50px;
    		color: #fff;
    		font-size: 40px;
    		text-shadow: 0px 1px 3px #222;
    		box-shadow: 0px 2px 2px #222;

    		background-color: #666;
    	}

    	span.up-vote{

    		background-color: #17ED3B;
		    background-image: -webkit-gradient(linear, left top, left bottom, from(#17ED3B), to(#12BA2E));
		    background-image: -webkit-linear-gradient(top, #17ED3B, #12BA2E);
		    background-image: -moz-linear-gradient(top, #17ED3B, #12BA2E);
		    background-image: -ms-linear-gradient(top, #17ED3B, #12BA2E);
		    background-image: -o-linear-gradient(top, #17ED3B, #12BA2E);
		    background-image: linear-gradient(top, #17ED3B, #12BA2E);
    	}

    	span.up-vote.active{

    		color: #12BA2E;

    		text-shadow:none;

    		box-shadow: none;

    		font-size: 44px;

    		background-color: #fff;
		    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
		    background-image: -webkit-linear-gradient(top, #fff, #fff);
		    background-image: -moz-linear-gradient(top, #fff, #fff);
		    background-image: -ms-linear-gradient(top, #fff, #fff);
		    background-image: -o-linear-gradient(top, #fff, #fff);
		    background-image: linear-gradient(top, #fff, #fff);
    	}

    	span.down-vote{
    		background-color: #A81300;
		    background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
		    background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
		    background-image: -moz-linear-gradient(top, #F21D00, #A81300);
		    background-image: -ms-linear-gradient(top, #F21D00, #A81300);
		    background-image: -o-linear-gradient(top, #F21D00, #A81300);
		    background-image: linear-gradient(top, #F21D00, #A81300);
    	}

    	span.down-vote.active{

    		color: #F21D00;

    		text-shadow:none;

    		box-shadow: none;

    		font-size: 44px;

    		background-color: #fff;
		    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
		    background-image: -webkit-linear-gradient(top, #fff, #fff);
		    background-image: -moz-linear-gradient(top, #fff, #fff);
		    background-image: -ms-linear-gradient(top, #fff, #fff);
		    background-image: -o-linear-gradient(top, #fff, #fff);
		    background-image: linear-gradient(top, #fff, #fff);
    	}

    	.glyphicon-arrow-down:before {
    		margin-left: 2px;
		}

		.glyphicon-arrow-up:before {
		    margin-right: 2px;
		}
    }

    .vote:hover{
    	cursor: pointer;
    }

    .vote#up{

		

    }

    .vote#down{
    	


    	
    }

    div.count{
    	padding:5px 0px;
    	text-align: center;
    	font-size: 20px;
    }

    a{

    	color:#FFA100;
    	text-shadow: 0px 2px 1px #111;
    	font-weight: 700;
    	padding-bottom: 5px;
    	

    }

}

.upvote-mobile{
	position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
}

.post-community-mobile{
	display: none;
	letter-spacing: 1px;
}

div.post-title{
	line-height: 40px;
}

div.post-submission-details{
	line-height: 30px;
	color: #ccc;
	letter-spacing: 1px;
}

div.post-actions{
	line-height: 30px;
	position: relative;
	color: #ccc;
	letter-spacing: 1px;
}

.select-post-type{
	


	p.post-type{
		
		display: block;
		margin-bottom: 20px;
		color: #fff;
		padding:15px;
		text-align:center;
		font-size: 28px;
		line-height: 30px;
		border-radius: 50px;
		border: 1px solid #000;
		text-shadow: 0px 1px 2px #111;

		span.glyphicon{
			margin: 0px 5px;
			line-height: 30px;
			vertical-align: top;
		}

	}

	p.post-type:hover{
		
		cursor: pointer;
		text-decoration: none;

	}



}

	.green-text-background{

		background-color: #17ED3B;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#17ED3B), to(#12BA2E));
        background-image: -webkit-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: -moz-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: -ms-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: -o-linear-gradient(top, #17ED3B, #12BA2E);
        background-image: linear-gradient(top, #17ED3B, #12BA2E);

	}

	.red-text-background{

		background-color: #A81300;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#F21D00), to(#A81300));
	    background-image: -webkit-linear-gradient(top, #F21D00, #A81300);
	    background-image: -moz-linear-gradient(top, #F21D00, #A81300);
	    background-image: -ms-linear-gradient(top, #F21D00, #A81300);
	    background-image: -o-linear-gradient(top, #F21D00, #A81300);
	    background-image: linear-gradient(top, #F21D00, #A81300);

	}

	.blue-text-background{

		background-color: #0F4DA8;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#437DD4), to(#0F4DA8));
	    background-image: -webkit-linear-gradient(top, #437DD4, #0F4DA8);
	    background-image: -moz-linear-gradient(top, #437DD4, #0F4DA8);
	    background-image: -ms-linear-gradient(top, #437DD4, #0F4DA8);
	    background-image: -o-linear-gradient(top, #437DD4, #0F4DA8);
	    background-image: linear-gradient(top, #437DD4, #0F4DA8);

	}

	.gold-text-background{
		
		background-color: #FFA100;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA100), to(#FF6600));
	    background-image: -webkit-linear-gradient(top, #FFA100, #FF6600);
	    background-image: -moz-linear-gradient(top, #FFA100, #FF6600);
	    background-image: -ms-linear-gradient(top, #FFA100, #FF6600);
	    background-image: -o-linear-gradient(top, #FFA100, #FF6600);
	    background-image: linear-gradient(top, #FFA100, #FF6600);
	}

.empty-content{
	
	padding: 20px;
    background: #111;
    border: 2px solid #fff;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;


	a{
		
		padding: 10px 20px;
    	display: inline-block;
    	text-shadow: 0px 1px 1px #111;
    	margin: 10px auto;
    	font-size: 28px;
    	font-weight: 700;
	}

	a:hover{
		cursor: pointer;
	}
}