<%= render 'headers/simple_header' %>

<div class="content black">

	<div class="content-box black">

		<h1>Welcome home, <%= current_user.display_name %>.</h1>

		<p>10th Nation is a collection of online communities that share today's most important online content, news, media, sports, poltics - all tailored just for you</p>

		<p>The communities of the 10th Nation are united under a common goal - the support of a platform funded, built, owned, operated, and controlled by our people.  This is ours.</p>

		<p>Get started by telling us about all the stuff you love and we'll help you get setup.  We are excited to have you as part of our growing nation.</p>

		<p>-Shane</p>
		
		<div class="cta-container">
			<%= link_to "Get Started!", setup_path, class: "get-started-cta blue-text-background" %>
		</div>

	</div>


</div>

