<div class="profile-header dashboard" id="dashboard-header-for-mobile">

	<div class="centered-content">

		<ul>
			<li class="profile-header-option active" id="profile_option_posts" data-option-type="posts">
				<a>Hot</a>
			</li>

			<li class="profile-header-option" id="profile_option_new" data-option-type="new">
				<a>New</a>
			</li>

			<li class="profile-header-option">
				<a href="<%= community_path(1) %>">10th Nation</a>
			</li>

<!-- 			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="communities">
				<a>Communities</a>
			</li>

			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
				<a>Following</a>
			</li> -->

		</ul>

	</div>

</div>


<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<div class="column-content" id="column_content_posts">

				<% current_user.hot_posts.each do |post| %>

					<%= render :partial => 'posts/list', :locals => {:post => post} %>

				<%end%>

			</div>

			<div class="column-content" id="column_content_new" style="display:none;">
				 
				 <% Post.all.reverse.each do |post| %>

					<%= render :partial => 'posts/list', :locals => {:post => post} %>

				<%end%>

			</div>

			<div class="column-content" id="column_content_subscribers" style="display:none;">
				 subs
			</div>


			<div class="column-content" id="column_content_communities" style="display:none;">

				communities

			</div>

		</div>

		<!-- <div class="side-content-column">

			<div class="dashboard-profile">

				<%# image_tag current_user.image.url(:medium), class: "tiny-profile-image" %>

				<h3><%# link_to current_user.display_name, profile_page_path(current_user.display_name) %></h3>

			</div>

			<div class="dashboard-profile clickable">

				<h5>Member of 4 Communities</h5>

				<div class="dashboard-profile-content default-off">
					communities
				</div>

			</div>

			<div class="dashboard-profile clickable">

				<h5>Following 6 Communities</h5>

				<div class="dashboard-profile-content default-off">
					communities
				</div>

			</div>

			<div class="dashboard-profile clickable">

				<h5>Following <%# current_user.followings.count %> Users</h5>

				<div class="dashboard-profile-content default-off">

					<%# current_user.followings.each do |follower| %>

						  <div class="content-panel list">

						    <div class="user-info-header">

						      <div class="user-info-image">
						        <%# image_tag follower.image.url(:medium), class: "tiny-profile-image" %>
						      </div>

						      <div class="user-info-name">

						        <span class="post-display-name"><%# link_to follower.display_name, profile_page_path(follower.display_name) %></span>

						      </div>
						      

						    </div>

						  </div>

					<%#end%>

				</div>

			</div>

			<div class="dashboard-profile mobile">

				<h4>Suggested</h4>

				<div class="dashboard-profile-content">

					<%# Community.all.each do |community| %>

						  <div class="content-panel list">

						  	<p><%# link_to community.name, community_path(community.name) %></p>
						  </div>

					<%#end%>

				</div>

			</div>

		</div> -->

	</div>

</div>