<div class="content-frame stacked half">

  <div class="content-panel list">

    <div class="user-info-header">

      <div class="user-info-image">

      	<%= image_tag follower.image.url(:medium), class: "tiny-profile-image" %>
      
      </div>

      <div class="user-info-name">

        <span class="post-display-name"><%= link_to follower.display_name, profile_page_path(follower.display_name) %></span>

      </div>
      

    </div>

  </div>

</div>